.alert {
    width: 100%;
    display: block;
    padding: 20px;
    // border: 1px solid rgb(239, 139, 128);
    // border-radius: 20px;
    // color: rgb(228, 55, 37);
    // background-color: rgb(248, 201, 196);
}